body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
}
li {
    line-height: 1.5;
}
.centered {
    text-align: center;
}
.header {
  background-image:url('../img/header.jpg');
  background-size:cover;
  background-position: center;
  color: #000000;
  height: 400px;
}
.header .label {
  font-size: 13px;
}
.navigation {
    background: #444444;
    color: #ffffff;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}
.navigation a {
    color: #ffffff;
}
h1 {
  font-size: 60px;
  padding-top: 30px;
  font-weight: bolder;  
}
footer {
    text-align: center;
    padding: 32px;
    color: white;
    background: #aaaaaa;
}
footer a {
    color: white;
}
.navbar-inverse .navbar-inner {
    background: black;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
}
.section {
    border-bottom: 1px solid #cccccc;
    margin-right: 0;
    margin-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sectionWhite {
    background: #ffffff;
}
.sectionShaded {
    background: #eeeeee;
}
.row {
    padding-bottom: 20px;
}
h3 {
    font-size: 20px;
}
.profileImage {
    border: 1px solid #808080;
    border-radius: 6px;
    height: 48px;
    width: 48px;
}
.duration {
    font-size: 14px;
    color: gray;
}
.country {
    font-size: 11px;
}
.country img {
    width: 30px;
    margin: 10px;
}
.flag {
    width: 30px;
    margin: 5px;
}
h3 {
    margin-bottom: 0;
}
.eventType {
  color: gray;
}
.googleAnalytics {
  font-size: 9px;
  color: #dddddd;
}
.tagline {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}